<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="path-to-your-logo.png" alt="Logo">
  </div>

  <form>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" name="username" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password" required></ion-input>
    </ion-item>
    
    <ion-button expand="block" type="submit" class="ion-margin-top">Login</ion-button>
  </form>

  <ion-text class="ion-padding">
    Don't have an account? <a href="/signup">Sign up</a>
  </ion-text>
</ion-content>
