/* Add this CSS to your page's specific SCSS file */

.login-logo {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInLogo 1.5s ease-out forwards;
}

.login-logo img {
  max-width: 150px; /* Adjust as needed */
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-color: transparent;
  --highlight-background: transparent;
}

ion-input {
  --padding-start: 0;
  --padding-end: 0;
  --placeholder-color: #B3B3B3;
}

ion-button {
  margin-top: 30px;
}

ion-label {
  --color: #8A8A8A;
}

@keyframes fadeInLogo {
  to {
    opacity: 1;
  }
}
